<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Code Climate Report for code</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-core.min.js" data-manual></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-highlight/prism-line-highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-ruby.min.js"></script>
	 <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-numbers/prism-line-numbers.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-highlight/prism-line-highlight.min.css" />
    <script>
      /**
       * Report JS
       */

      (function(){
        Prism.hooks.add('complete', function(env) {
          var pre = env.element.parentNode;
          var lines = pre && pre.dataset.line;

          if (!pre || !lines || !/pre/i.test(pre.nodeName)) {
            console.log('nope');
            return;
          }

          var container = pre.parentElement;

          if (!container || !container.classList.contains('code')) {
            return;
          }

          console.log('collapsing', container);
          container.style.height = 'auto';
        });
      })();

      jQuery(function(){
        function isVisible(element) {
          return !!(
            element.offsetWidth ||
            element.offsetHeight ||
            element.getClientRects().length
          );
        };

        var pendingElements = [];
        // Convert node list to arrays
        pendingElements.push.apply(
          pendingElements,
          document.querySelectorAll('#smells .code')
        );

        var waypoints = [];

        function updateInView() {
          if (!pendingElements.length) {
            return;
          }

          var visibleElements = pendingElements.filter(isVisible);
          waypoints = visibleElements.map(function(element){
            var $e = $(element),
            elementTop = $e.offset().top;
            return [
              elementTop,
              elementTop + $e.outerHeight(),
              element
            ];
          });
        };

        function inView() {
          var yTop = window.scrollY,
          yBottom = window.scrollY + window.innerHeight;

          return waypoints.filter(function(entry){
            return (entry[0] <= yTop && entry[1] >= yTop) ||
              (entry[0] > yTop && entry[1] < yBottom) ||
              (entry[0] <= yBottom && entry[1] >= yBottom);
          });
        }

        var inViewHandler = function(){
          var entries = inView();
          if (entries.length) {
            entries.forEach(function(entry){
              var containerElement = entry[2];

              if (pendingElements.indexOf(containerElement) === -1) {
                return;
              }

              element = containerElement.querySelector('pre code');

              element.parentElement.style.visibility = 'visible';
              Prism.highlightElement(element);

              pendingElements.splice(
                pendingElements.indexOf(containerElement),
                1
              );
            });
            updateInView();
          }
        };

        function enableInView() {
          window.addEventListener('scroll', inViewHandler);
          window.addEventListener('resize', inViewHandler);
          inViewHandler();
        }

        function disableInView() {
          window.removeEventListener('scroll', inViewHandler);
          window.removeEventListener('resize', inViewHandler);
        }

        updateInView();

        function applyFilters() {
          disableInView();
          var category = $('#category-filter').val();
          var engine = $('#engine-filter').val();
          var list = document.getElementById('smells');
          list.className = '';

          var selector = '#smells li';

          var suffix = '';
          if (category !== '') {
            list.classList.add('filter-category-' + category);
          }
          else {
            list.classList.add('filter-category-all');
          }
          if (engine !== '') {
            list.classList.add('filter-engine-' + engine);
          }
          else {
            list.classList.add('filter-engine-all');
          }

          if (list.offsetHeight) {
            $('#filtered-out-message').hide();

            updateInView();
            enableInView();
          }
          else {
            $('#filtered-out-message').show();
          }
        }

        $('#category-filter, #engine-filter').on('change', applyFilters);
        applyFilters();

        $('summary').on('click', function() {
          setTimeout(function(){
            updateInView();
            inViewHandler();
          },
          1);
        });
      });
    </script>
    <style>
      .filter-category-complexity > li,
      .filter-engine-rubocop > li,
      .filter-engine-structure > li,
      .filter-none > li {
        display: none;
      }

      .filter-category-all.filter-engine-rubocop > li[data-engine="rubocop"],
      .filter-category-all.filter-engine-structure > li[data-engine="structure"],
      .filter-category-complexity.filter-engine-all > li[data-categories~="complexity"],
      .filter-category-all.filter-engine-all > li[data-categories~="all"][data-engine="all"],
      .filter-category-all.filter-engine-rubocop > li[data-categories~="all"][data-engine="rubocop"],
      .filter-category-all.filter-engine-structure > li[data-categories~="all"][data-engine="structure"],
      .filter-category-complexity.filter-engine-all > li[data-categories~="complexity"][data-engine="all"],
      .filter-category-complexity.filter-engine-rubocop > li[data-categories~="complexity"][data-engine="rubocop"],
      .filter-category-complexity.filter-engine-structure > li[data-categories~="complexity"][data-engine="structure"],
      .filter-category-all.filter-engine-all > li {
        display: block;
      }
    </style>
  </head>
  <body>
    <header id="top">
      <div class="container">
        <a id="logo" href="https://codeclimate.com/">Code Climate</a>
        <h1>Hello World</h1>
      </div>
    </header>
    <div class="container">
      <nav>
        <ul>
          <li>
          </li>
        </ul>
      </nav>
      <div id="main-container">

          <div class="issue-filters">
            <label for="category-filter">Filter by Category</label>
            <select id="category-filter">
              <option value="">All</option>
              <option value="complexity">Complexity</option>
            </select>
            <label for="engine-filter">Filter by Engine</label>
            <select id="engine-filter">
              <option value="">All</option>
              <option value="rubocop">rubocop</option>
              <option value="structure">structure</option>
            </select>
          </div>
          <ul id="smells">
            <li
              data-categories="complexity"
              data-engine="structure">
              <h2><span class="smells-title"><svg width="12" height="12"><image xlink:href="severity-critical.svg"/></svg></span>Method `destroy` has 6 arguments (exceeds 4 allowed). Consider refactoring.</h2>
              <div class="found-in">
                Found in argument_count.rb by
                <a href="https://docs.codeclimate.com/docs/structure">structure</a>
              </div>
            </li>
            <li
              data-categories="complexity"
              data-engine="structure">
              <h2><span class="smells-title"><svg width="12" height="12"><image xlink:href="severity-info.svg"/></svg></span>SC0292 Method `destroy` has 6 arguments (exceeds 4 allowed). Consider refactoring.</h2>
              <div class="code">
                <pre class="line-numbers language-ruby"
                     data-line="2"
                     data-start="1"
                     data-line-offset="0"><code>class User
  def destroy(a,b,c,d,e,f)

  end
</code></pre>
              </div>
              <div class="found-in">
                Found in argument_count.rb by
                <a href="https://docs.codeclimate.com/docs/structure">structure</a>
              </div>
            </li>
            <li
              data-categories="complexity"
              data-engine="rubocop">
              <h2><span class="smells-title"><svg width="12" height="12"><image xlink:href="severity-high.svg"/></svg></span>RC0022 Avoid parameter lists longer than 5 parameters. [6/5]</h2>
              <div class="code">
                <pre class="line-numbers language-ruby"
                     data-line="2"
                     data-start="1"
                     data-line-offset="0"><code>class User
  def destroy(a,b,c,d,e,f)

  end
</code></pre>
				</div>
                <details>
                  <summary>Details</summary>
						
                  <p>This cop checks for methods with too many parameters.
The maximum number of parameters is configurable.
Keyword arguments can optionally be excluded from the total count.</p>
                </details>
              <div class="found-in">
                Found in argument_count.rb by
                <a href="https://docs.codeclimate.com/docs/rubocop">rubocop</a>
              </div>
            </li>
          </ul>
          <div id="filtered-out-message">All issues have been filtered out</div>
      </div>
    </div>
  </div>
  </body>
</html>
